html{
    font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    font-size:18px;
    color:#2D3748;
}

img[src="dillon.jpg"]{
    border-radius: 100%;
    padding: 4px;
}

img.TextWrapRight{
    float:right;
    margin: 5px;
}

img.TextWrapLeft{
        float:left;
        margin: 5px;
}  

h1{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

h2{
    font-size: 32px;
    color: #48BB78;
}

h3{
    color: #48BB78;
}

.abt{
    color: #2D3748;
}

.date{
    color: #718096;
 }

.About{
    background-color: #E2E8F0;
    /* width: 60%; */
    padding: 20px;
    /* margin: 30px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: #4299E1; 
}

        
.header{
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}
          
.container{
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-areas:
    "header header"
    "main" "main"
    "main" "sidebar"
    "footer footer";
    gap: 20px;  
}

header {
    background-color:  #63B3ED;
    color:#FFFFFF;
    grid-column-start: 1;
    grid-column-end: 3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0;
    padding: 0%;
}

h1+p{
    margin-top: 0;
    padding: 0;
}
h1 {
    margin-bottom: 5px;
}

aside{
    padding-top: 45px;
    margin-right: 50px;
    /* margin: 30px; */ 
    display: grid;
    height:50%;
}

hr.rounded {
    border-top: 5px solid #bbb;
    border-radius: 5px;
}

footer{
    background:#2C5282;
    color:#FFFFFF;
    grid-column-start: 1;
    grid-column-end: 3;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

main{
    margin: 20px;
    padding: 50px;
} 


    

 

